/*
infinite無限次播放
alternate交替方向播放（正播完→倒播→再正播）即左右方向來回跑
*/ 
 
 .mover {
    position: relative;
    animation: moveText 4s infinite alternate;
  }

    @keyframes moveText {
    from { left: -200px; top: 0; }
    to { left: 200px; top: 0px; }
    }
    @keyframes bgflash {
      from { background-color: yellow; }
      to { background-color: hotpink; }
    }
    @keyframes blink {
      from { color: red; }
      to { color: blue; }
    }

  h1,h2, h3 {
      text-align: center;
      text-shadow: 2px 2px white;
    }
    /*1rem=16px
    rem整頁縮放，px絕對大小
    font讓字唱歌，Border是特效
    */
    body {
      background-color: yellow;
      color: red;
      font-family: 'Comic Sans MS', cursive;
      animation: bgflash 1s infinite alternate;
      padding: 2rem;
    }
    
    .blinker {
      animation: blink 0.5s infinite alternate;
      font-weight: bold;
      font-size: 1.5rem;
      text-align: center;
    }
  
    /*
    padding內部留白[邊框][←padding→][內容]
    margin外部留白[← margin →][盒子][← margin →]+不會改變內容大小
    */
    .section {
      max-width: 600px;
      border: 5px dashed red;
      background-color:white;
      padding: 1rem;
      margin: 2rem auto;
      transform: rotate(-2deg);/*讓東西傾斜*/
    }

    button {
      font-size: 1rem;
      padding: 0.5rem 1rem;
      margin-top: 1rem;
      background-color: lime;
      border: 3px solid magenta;
      cursor: pointer;
    }
  button2 {
      color:rgb(172, 206, 21) ;
      font-size: 1rem;
      padding: 0.5rem 1rem;
      margin-top: 1rem;
      background-color: rgb(131, 122, 255);
      border: 3px solid rgb(64, 200, 34);
      cursor: pointer;
  }
  marquee {
      font-size: 1.2rem;
      color: black;
      background-color: cyan;
      padding: 0.5rem;
      margin-top: 1rem;
  }
  .up {
    width: 100%;
  }

  /* justify-content排位置(left,main-area,right)
  !只對flex有用!
  flex-start從左邊開始排	
  flex-end靠右邊排
  center居中排
  space-between頭尾貼邊，中間平均分
  space-around元素兩邊都平均留空
  */
  .layout {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .left,.right {
    width: 25%;
    font-size: 1.2rem;
    color: aliceblue;
    animation: bgflash 1s infinite alternate;
  }

  .main-area {
    width: 50%;
  }

